*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.main{
  display: flex;
  align-items: center;
  flex-direction: column;
  height: 100vh;
  width: 100%;
}

.container2{
  display:flex;
  width: 100%;
  height: 100vh;
  flex-direction: column;
  position: relative;
}

.bluecon{
  background-color: blue;
  width: 100%;
  height: 50%;
  position: relative;
  overflow: hidden;
}

.whitecon{
  background-color: white;
  width: 100%;
  height: 50%;
  position: relative;
  overflow: hidden;
}

.textblue{
  position: absolute;
  color: white;
  font-size: 7rem;
  top: 150px;
  left: 25%;
  overflow: hidden;
}

.textwhite{
  position: absolute;
  color: blue;
  font-size: 7rem;
  bottom: 180px;
  left: 25%;
  overflow: hidden;
}